#playerCard{
  height: 280px;
  width: 235px;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 12px 4px;
  padding: 10px 0px 10px 10px;
  border-radius: 10px;
  box-shadow: 10px 5px 5px grey;
  border: darkgrey solid 1px;
}
.waiverwire-flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.pointer:hover{
  cursor: pointer;
}

.waiverwire-input input {
  padding: .6em 1em;
  border-radius: 10px;
  border: navy solid 2px;
  box-shadow: 2px 2px 10px rgba(0,0,0,.4);
  margin-top: 8px;
  margin-left: 3px;
}


i {
  font-size: 1.8em !important;
  /* margin-left: -10px !important; */
  margin-right: 15px !important;
}

.waiverwire-team-status {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  margin-top: -10px;

}

.waiverwire-stats-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
}

.waiverwire-flex input {
  padding: .6em 1em;
  border-radius: 10px;
  border: navy solid 2px;
  box-shadow: 2px 2px 10px rgba(0,0,0,.4);
}
