*{
  margin: 0;
  padding: 0;
}
img{
  width: 100%;
}

.dashboard-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.dashboard-container button {
  background-color: navy;
  color: white;
  padding: 1em 2em;
  box-shadow: 2px 2px 10px rgba(0,0,0,.4);
  font-weight: 800;
}

button {
  cursor:pointer;
}

.dashboard-page-title {
  display: flex;
  justify-content: center;
}