.signup-input {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;

}

.signup-input input {
  padding: .6em 1em;
  border-radius: 10px;
  border: navy solid 2px;
  box-shadow: 2px 2px 10px rgba(0,0,0,.4);
}

.signup-button {
  display: flex;
  justify-content: center;
}

.signup-button button {
  background-color: navy;
  color: white;
  padding: 1em 2em;
  box-shadow: 2px 2px 10px rgba(0,0,0,.4);
  font-weight: 800;
}

.signup-page-title {
  display: flex;
  justify-content: center;
}
