.login-input {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;

}

.login-input input {
  padding: .6em 1em;
  border-radius: 10px;
  border: navy solid 2px;
  box-shadow: 2px 2px 10px rgba(0,0,0,.4);
}

.login-button {
  display: flex;
  justify-content: center;
}

.login-button button {
  background-color: navy;
  color: white;
  padding: 1em 2em;
  box-shadow: 2px 2px 10px rgba(0,0,0,.4);
  font-weight: 800;
}


.login-submit {
  background-color: silver;
  padding: 10px;
  border-radius: 10px;
}

.login-title {
  display: flex;
  justify-content: center;
}

input {
  outline: none;
}